:root {
    color-scheme: light dark;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.card {
    border: 2px solid rgba(0, 0, 0, 0.336);
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.158);
    margin: 5px;
    padding: 10px;
    max-width: 200px;
    text-align: center;
    display: inline-block;
}

.card .image {
    width: 100px;
}